.form__item {
    width: 83%;
    margin: 30px auto 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.form__itemt::-webkit-input-placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
}

.form__item::-moz-placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
}

.form__item::-ms-input-placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
}

.form__item::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
}