.form__item-userjob-error {
    color: #F00;
    font-size: 12px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 26px;
    display: block;
}