.form-card__pseudo-item {
    display: inline-block; 
    vertical-align: middle; 
    width: 22px;
    height: 19px;
    background-image: url("../../../images/heart.svg");
}

.form-card__item:hover + .form-card__pseudo-item {
    opacity: 0.5;
}

.form-card__item:checked + .form-card__pseudo-item {
    background-image: url("../../../images/heart_checked.png");
}


