.card {
    max-width: 100%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
}

@media screen and (max-width: 555px) {
    .card {
        max-width: 282px;
    }
}